<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopioSearch 2.0</title>
</head>
<body>
    <header>
        <h1>TopioSearch 2.0</h1>
        <nav>
            <ul>
                <li>
                    <a href="#">Recherche</a>
                    <a href="#">Lexique</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <h3>Définition du terme</h3>

        <p>Lorem ipsum</p>

    </main>
    <footer>

    </footer>
</body>
</html>