{% include 'header.html' %}
    <main id="home">
        <h1>Exemples</h1>
        <p>Exemples de requêtes à faire ici par exemple les équivalents de:</p>

        <ul>
            <li>where variants LIKE "%foo%" (pour chopper le terme de base par rapport à une variante)</li>
            <li>where name LIKE "%A" (pour choper tous ceux qui commencent par A)</li>
            <li>requête qui retourne un terme au format json</li>
            <li>autres...</li>
        </ul>
    </main>
{% include 'footer.html' %}