{% include 'header.html' %}
    <main id="home">
        <h1>TopioSearch</h1>
        <p>Outil de recherche de mots suisse-romands sur divers sites.</p>

        <form id="topiosearch__form" name="topiosearch__form" method="get" action="/search" enctype="multipart/form-data">

            <fieldset role="group">
                <input placeholder="Entrer un terme p.ex. clédar, niolu, Lausanne..." type="text" name="topiosearch__search-term" maxlength="64" />
                <button type="submit">Rechercher!</button>
            </fieldset>

            <input type="checkbox" name="topiosearch__remote-search" id="topiosearch__remote-search" /> Recherche à distance

        </form>

        <div id="topiosearch__search-results-container">
            <div id="topiosearch__search-results">

            </div>
        </div>

    </main>

    <script>

        function initApiSearchTerm(e){
            e.preventDefault()

            const data = new FormData(event.target);
            const dataObject = Object.fromEntries(data.entries());
            data.forEach((value, key) => {
                console.log(`${key}: ${value}`);
            });

            remoteSearch = data.get("topiosearch__remote-search")

            const urlParams = new URLSearchParams({
              term: data.get("topiosearch__search-term")
            });
            console.log(`params: ${urlParams}`);


            if(remoteSearch == "on"){

                //REMOTE search

                fetch(`/search/remote?${urlParams}`, {
                  method: "GET",
                  headers: {
                    "X-Requested-With": "XMLHttpRequest",
                  }
                })
                .then(response => response.json())
                .then(data => {

                  document.getElementById("topiosearch__search-results").innerHTML = ''

                  data.responses.forEach((response)=>{

                      console.log("Distant response (topio or hsuter):")
                      console.log(response);

                       if(response.name){
                          // displays human-readable data
                          document.getElementById("topiosearch__search-results").innerHTML = document.getElementById("topiosearch__search-results").innerHTML + "<h3>" + response.name + "</h3>" +
                              "<p>" +
                                "<span>" + response.definition + "</span><br />" +
                                (response.example ? "<blockquote>" + response.example + "</blockquote>" : "") +
                              "</p>";
                      } else{

                      }
                  });

                });
            } else {

                // LOCAL search
                fetch(`/search/local?${urlParams}`, {
                  method: "GET",
                  headers: {
                    "X-Requested-With": "XMLHttpRequest",
                  }
                })
                .then(response => response.json())
                .then(data => {

                      console.log("local response from database: ");
                      console.log(data);

                      document.getElementById("topiosearch__search-results").innerHTML = '';

                      data.responses.forEach((response)=>{

                            document.getElementById("topiosearch__search-results").innerHTML = document.getElementById("topiosearch__search-results").innerHTML + "<h3>" + response.name + "</h3>" +
                                  "<p>" +
                                    "<span>" + response.definition + "</span><br />" +
                                    (response.example ? "<blockquote>" + response.example + "</blockquote>" : "") +
                                  "</p>";
                      });
                });

            }
        }

        const form = document.getElementById("topiosearch__form");
        form.addEventListener("submit", initApiSearchTerm);
    </script>

{% include 'footer.html' %}