{% include 'header.html' %}
    <main id="home">
        <h1>TopioSearch</h1>
        <p>Outil de recherche de mots suisse-romands sur divers sites.</p>

        <form id="topiosearch__form" name="topiosearch__form" method="get" action="/search" enctype="multipart/form-data">

            <fieldset role="group">
                <input placeholder="Entrer un terme p.ex. clédar, niolu, Lausanne..." type="text" name="topiosearch__search-term" maxlength="64" />
                <button type="submit">Rechercher!</button>
            </fieldset>

        </form>

        <div id="topiosearch__search-results-container">
            <div id="topiosearch__search-results">

            </div>
        </div>

    </main>

    <script>

        function initApiSearchTerm(e){
            e.preventDefault()

            const data = new FormData(event.target);
            const dataObject = Object.fromEntries(data.entries());
            data.forEach((value, key) => {
                console.log(`${key}: ${value}`);
            });

            const urlParams = new URLSearchParams({
              term: data.get("topiosearch__search-term")
            });
            console.log(`params: ${urlParams}`);

            fetch(`/search?${urlParams}`, {
              method: "GET",
              headers: {
                "X-Requested-With": "XMLHttpRequest",
              }
            })
            .then(response => response.json())
            .then(data => {
              console.log(data);
              if(data.responses.topio.name){
                  // displays human-readable data
                  document.getElementById("topiosearch__search-results").innerHTML = "<h3>" + data.responses.topio.name + "</h3>" +
                      "<p>" +
                        "<span>" + data.responses.topio.definition + "</span><br />" +
                        "<blockquote>" + data.responses.topio.example + "</blockquote>" +
                      "</p>";
              } else{
                  document.getElementById("topiosearch__search-results").innerHTML = "<h4>Tetcheu !</h4> Aucun résultat trouvé pour <i>" + data.responses.topio.search_criteria[0] + "</i> !";
              }
            });
        }

        const form = document.getElementById("topiosearch__form");
        form.addEventListener("submit", initApiSearchTerm);
    </script>

{% include 'footer.html' %}